.accordion {
    background-color: #e9c46a;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid 3px #e9c46a;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 0.3rem 0;   
  }

  .accordion h2 {
  display: inline;
  vertical-align: middle;
  padding-right: 1rem;
  }
  
  .active, .accordion:hover {
    background-color: #f4a261; 
    border: solid 5px #e9c46a;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    
  }
  .editing-btns-pannel{

    float: right;
    display: flex;
      align-items: center;
  }
  
  .editing-btns-pannel a{
   
    margin: 0.5rem;
    padding: 0.5rem;
    
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    
  }
  
  .editBtn{
    background-color: #41f016;
  }
  
  .delBtn{
    background-color: red;
  }

  .country-flag-img{
    width: 50px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    margin: 0 3rem;
  }

  .country-details{
    width: 75%;
    margin: 2rem auto;

  }

  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  