.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid 1px grey;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 0.3rem 0;   
  }

  .accordion h2 {
  display: inline;
  vertical-align: middle;
  padding-right: 1rem;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    
  }

  .country-flag-img{
    width: 50px;
    float: right;
  }

  .country-details{
    width: 75%;
    margin: 2rem auto;

  }

  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }