.paging{
  padding: 2rem 0.5rem;
  width: auto;
  display: inline-block;
}

.paging a{
  margin: 0.5rem;
  padding: 0.8rem;
  background-color: #f4a261;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.paging a:hover{
 
  background-color: #e76f51;
  
}

.search-container{
  position: relative;
  margin: 2rem 0;
}

.search-box{
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -49%);
}

.search-box input, button{
  padding: 0.5rem;
  border-radius: 5px;
}

.search-box button{
  background-color: #f4a261;;
  border: 2px solid #e76f51;
}

.search-box button:hover{
  background-color: #e76f51;
}


@media screen and (max-width: 600px) {
  .paging, .search-box {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
   .search-box {
    
    top: 0;
    right: 0;   
   
  }
}