.paging{
  padding: 2rem 0.5rem;
  width: auto;
  display: inline-block;
}

.paging a{
  margin: 0.5rem;
  padding: 0.8rem;
  background-color: rgb(255, 192, 74);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.paging a:hover{
 
  background-color: rgb(255, 173, 20);
  
}

.search-container{
  position: relative;
  margin: 2rem 0;
}

.search-box{
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -49%);
}

.search-box input, button{
  padding: 0.5rem;
  border-radius: 5px;
}

.search-box button{
  background-color: rgb(255, 192, 74);
  border: 2px solid orange;
}

.search-box button:hover{
  background-color: rgb(255, 173, 20);
}